body {
    background-color:rgb(239, 200, 239);
    box-sizing: border-box;
}

h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img {
    align-items: center;
    justify-content: center;
    text-align: center;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}
.section {
    padding: 10px;
}


.keroppi img{
    width: 90px;
    height: auto;
    padding-top: 10px;
}