<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css
">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>

<body>
    {% include 'includes/header.html' %}

    <main>
        <p>Search location: {{location}}</p>
        <p>Search term: {{search_term or 'None Specified'}}</p>
    
        <h2>Top Restaurant:</h2>
        <div>
            <!-- <p>Data: {{ restaurant }} </p> -->
            <h3>{{ restaurant.get('name') }}</h3>
            <img src="{{ restaurant.get('image_url') }}" alt="restaurant photo">
            <p>Address: {{ restaurant.get('display_address')}}</p>
            <p>Rating: {{ restaurant.get('rating') }}</p>
            <p>Price: {{ restaurant.get('price')}}</p>
            <p>Review Count: {{ restaurant.get('review_count')}}</p>
        </div>
    </main>
</body>

</html>